@inherits LayoutComponentBase
<div class="page">
    <header class="app-header">
        <div class="container">
            <a class="brand" href="">Mini Games</a>
        </div>
    </header>
    <main>
        <div class="container">
            @Body
        </div>
    </main>
</div>
