@inherits LayoutComponentBase
<div class="page">
    <div class="title-banner">
        <img src="images/title.svg" alt="Browser Mini Games" class="title-graphic" />
    </div>
    <main>
        <div class="container">
            @Body
        </div>
    </main>
</div>
