@page "/"
@using BrowserFun.Components.Icons

<PageTitle>Mini Games</PageTitle>

<div class="mt-4 game-links">
    <NavLink class="btn btn-primary game-link" href="snake">
        <SnakeIcon class="icon" />
        Snake
    </NavLink>
    <NavLink class="btn btn-primary game-link" href="whack">
        <MoleIcon class="icon" />
        Whack a Mole
    </NavLink>
    <NavLink class="btn btn-primary game-link" href="memory">
        <MemoryIcon class="icon" />
        Memory
    </NavLink>
    <span class="text-muted"></span>
    
</div>
